img {
  width: 100%;
}

.landing {
  position: relative;
  background: url("./img/showcase.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
}
.is-invalid {
  border: 1px solid rgb(140, 210, 250) !important;
  box-shadow: 0 0 8px 1px rgba(243, 68, 24, 0.8) !important;
}
.glow {
  animation: glow 0.2s ease-out 0.5s 2;
}

.landing-inner {
  padding-top: 80px;
}
.gradient {
  background: linear-gradient(rgb(20, 30, 37), rgb(16, 31, 21));
}
.dark-overlay {
  background-color: rgba(0, 7, 10, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}

@keyframes glow {
  0% {
    text-shadow: 0 0 0px rgb(0, 4, 255);
    color: rgb(21, 255, 0);
  }
  100% {
    text-shadow: 0 0 20px rgb(21, 255, 0);
    color: rgb(49, 56, 80);
  }
}
